fastapi
uvicorn
scikit-learn
spacy
PyPDF2
python-docx
pandas
numpy
pytest
python-multipart
jinja2
slowapi
aiosmtplib
pydantic[email]
python-dotenv
gunicorn
sqlalchemy
psycopg2-binary
pyjwt
passlib[bcrypt]
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
alembic
httpx
cryptography
firebase-admin>=6.2.0